@model Yoga.Models.EventViewModels.DisplayEventViewModel

@{
	ViewData["Title"] = "Details";
}

<h2>Event Details</h2>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Location</th>
			<th>Date</th>
			<th>Tables</th>
			<th>Guests</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		

		<tr>
			<td>@Model.Event.Title</td>
			<td>@Model.Location.Title</td>
			<td>@Model.Event.Date.ToShortDateString()</td>
			<td>
				<ul>
					@if (Model.Tables != null)
					{

						@foreach (var table in Model.Tables)
						{
							<li>@table.Title</li>
							
							@*<li>

						<ul>
							@foreach (var guest in table.Guests)
							{
								<li>guest.GuestName</li>
							}
						</ul>
							</li>*@
						}
						<li><a asp-controller="Tables" asp-action="Create" asp-route-id="@Model.Event.Id">Add a table</a></li>

					}
				</ul>
			</td>
			<td>
				<ul>
					@if (Model.Event.Guests != null)
					{

						@foreach (var guest in Model.EventGuests)
						{
							<li>@guest.GuestName</li>
						}
					}
				</ul>
			</td>
			<td><a asp-action="Edit" asp-route-id="@Model.Event.Id">edit event</a></td>
		</tr>

	</tbody>
</table>
<a asp-action="Index" class="button-link">Back to List</a>
