@model Yoga.Models.PersonViewModels.DonationViewModels.AddDonationViewModel

@{
	ViewData["Title"] = "Add Donation";
}

<h2>Add Donation</h2>
<h5>@Model.Donor.FirstName @Model.Donor.LastName</h5>

<form asp-action="Create">
	<div asp-validation-summary="ModelOnly"></div>
	<input type="hidden" asp-for="@Model.Donor.Id" />
	<input type="hidden" asp-for="@Model.Donor.FirstName" />
	<input type="hidden" asp-for="@Model.Donor.LastName" />
	<input type="hidden" asp-for="@Model.Donor.FullName" />

	<label asp-for="@Model.newDonation.Amount"></label>
	<input asp-for="@Model.newDonation.Amount" />
	<span asp-validation-for="@Model.newDonation.Amount"></span>

	<label asp-for="@Model.newDonation.Date"></label>
	<input asp-for="@Model.newDonation.Date" />
	<span asp-validation-for="@Model.newDonation.Date"></span>

	@*<label asp-for="@Model.newDonation.StreetAddressCont"></label>
	<input asp-for="@Model.newDonation.StreetAddressCont" />
	<span asp-validation-for="@Model.newDonation.StreetAddressCont"></span>

	<label asp-for="@Model.newDonation.City"></label>
	<input asp-for="@Model.newDonation.City" />
	<span asp-validation-for="@Model.newDonation.City"></span>

	<label asp-for="@Model.newDonation.State"></label>
	<input asp-for="@Model.newDonation.State" />
	<span asp-validation-for="@Model.newDonation.State"></span>

	<label asp-for="@Model.newDonation.ZipCode"></label>
	<input asp-for="@Model.newDonation.ZipCode" />
	<span asp-validation-for="@Model.newDonation.ZipCode"></span>

	<label asp-for="@Model.newDonation.IsPrimary"></label>
	<input asp-for="@Model.newDonation.IsPrimary" />
	<span asp-validation-for="@Model.newDonation.IsPrimary"></span>*@

	<input type="hidden" asp-for="@Model.newDonation.DonorId" value="@Model.Donor.Id" />



	<input type="submit" value="Add" />
</form>

<a asp-action="Index">Back to Donation List</a>
