@model Yoga.Models.EventViewModels.TableViewModels.AddTableViewModel

@{
	ViewData["Title"] = "Add Table";
}

<h2>Add Table</h2>
<h5>@Model.EventName</h5>

<form asp-action="Create">
	<div asp-validation-summary="ModelOnly"></div>
	<input type="hidden" asp-for="@Model.newTable.EventId" value="@Model.newTable.EventId" />


	<label asp-for="@Model.newTable.Title"></label>
	<input asp-for="@Model.newTable.Title" />
	<span asp-validation-for="@Model.newTable.Title"></span>

	<label asp-for="@Model.newTable.Capacity"></label>
	<input asp-for="@Model.newTable.Capacity" />
	<span asp-validation-for="@Model.newTable.Capacity"></span>



	<label asp-for="@Model.newTable.Captain"></label>
	<input asp-for="@Model.newTable.Captain" />
	<span asp-validation-for="@Model.newTable.Captain"></span>



	<input type="submit" value="Add" />
</form>

<a asp-controller="Events" asp-action="Details" asp-route-id="@Model.newTable.EventId">Back to Details</a>
