@model Yoga.Models.PersonViewModels.DisplayPersonDataViewModel

@{
	ViewData["Title"] = "Details";
}

<h2>@Model.person.FullName Details</h2>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email Addresses</th>
			<th>Phone Numbers</th>
			<th>Mailing Addresses</th>
			<th>Donations</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.person.FirstName @Model.person.LastName (<a asp-action="EditName" asp-route-id="@Model.person.Id">edit</a>)</td>
			<td>
				<ul>
					@foreach (var email in Model.person.EmailAddresses)
					{
						<li>
							@if (email.IsPrimary && Model.person.EmailAddresses.Count > 1)
							{
								<span>*</span>
							}
							@email.Email (<a asp-controller="Email" asp-action="Edit" asp-route-id="@email.Id">edit</a>)
						</li>
					}
					<li><a asp-controller="Email" asp-action="Create" asp-route-id="@Model.person.Id">Add new email</a></li>
				</ul>
			</td>
			<td>
				<ul>
					@foreach (var phone in Model.person.PhoneNumbers)
					{
						<li>
							@if (phone.IsPrimary && Model.person.PhoneNumbers.Count > 1)
							{
								<span>*</span>
							}
							@phone.Phone (<a asp-controller="PhoneNumber" asp-action="Edit" asp-route-id="@phone.Id" asp-route-owner="@Model.person.Id">edit</a>)
						</li>
					}
					<li><a asp-controller="PhoneNumber" asp-action="Create" asp-route-id="@Model.person.Id">Add new phone number</a></li>
				</ul>
			</td>
			<td>
				<ul>
					@foreach (var address in Model.person.MailingAddresses)
					{
						<li>
							
							<address>
								@if (address.IsPrimary && Model.person.MailingAddresses.Count > 1)
								{
									<span>*</span>
								}
								<span>@address.Title</span>
								<span>@address.StreetAddress</span>
								<span>@address.StreetAddressCont</span>
								<span>@address.City, @address.State @address.ZipCode</span>
							</address>
							(<a asp-controller="Address" asp-action="Edit" asp-route-id="@address.Id" asp-route-owner="@Model.person.Id">edit)</a>
						</li>
					}
					<li><a asp-controller="Address" asp-action="Create" asp-route-id="@Model.person.Id">Add new address</a></li>
				</ul>
			</td>
			<td>
				<ul>
					@foreach (var donation in Model.person.Donations)
					{
						<li>$@donation.Amount @donation.Date <a asp-controller="Donations" asp-action="Details" asp-route-id="@donation.Id" asp-route-donor="@Model.person.Id">(details)</a></li>
					}
					<li><a asp-controller="Donations" asp-action="Create" asp-route-id="@Model.person.Id">Add new donation</a></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<a asp-action="Index">Back to List</a>
