@model Yoga.Models.PersonViewModels.DisplayPersonDataViewModel

@{
	ViewData["Title"] = "Edit";
}

<h2>Details</h2>

<h5>Name</h5>
<p>@Model.person.FirstName @Model.person.LastName</p> <a asp-action="EditName" asp-route-id="@Model.person.Id">Edit</a>

<h5>Email Addresses</h5>
	<ul>
		@foreach (var email in Model.person.EmailAddresses)
		{
			<li>
				@if (email.IsPrimary)
				{
					<p>Primary</p>
				}
				@email.Email <a asp-controller="Email" asp-action="Edit" asp-route-id="@email.Id">Edit</a>
			</li>
		}
	</ul>
	<a asp-controller="Email" asp-action="Create" asp-route-id="@Model.person.Id">Add new email</a>


<h5>Mailing Addresses</h5>
<ul>
	@foreach (var address in Model.person.MailingAddresses)
	{
		<li>
			@if (address.IsPrimary)
			{
				<p>Primary</p>
			}
			<address>
				<span>@address.Title</span>
				<span>@address.StreetAddress</span>
				<span>@address.StreetAddressCont</span>
				<span>@address.City, @address.State @address.ZipCode</span>
			</address>
			<a asp-controller="Address" asp-action="Edit" asp-route-id="@address.Id" asp-route-owner="@Model.person.Id">Edit</a>
		</li>
	}
</ul>
<a asp-controller="Address" asp-action="Create" asp-route-id="@Model.person.Id">Add new address</a>

<h5>Phone Numbers</h5>
<ul>
	@foreach (var phone in Model.person.PhoneNumbers)
	{
		<li>
			@if (phone.IsPrimary)
			{
				<p>Primary</p>
			}
			@phone.Phone <a asp-controller="PhoneNumber" asp-action="Edit" asp-route-id="@phone.Id" asp-route-owner="@Model.person.Id">Edit</a>
		</li>
	}
</ul>


<a asp-action="Index">Back to List</a>
